Repository boonya/frontend-libs, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github, documentation, components, hooks, react-utils, frontend-utils, tests, stories

.github workflows and setup
  .github/dependabot.yml
  .github/workflows/codestyle.yml
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .github/workflows/typecheck.yml
  .github/workflows/verify.yml
Labels: github

DEPENDABOT_ACCESS_TOKEN
  .github/dependabot.yml
Labels: github

secrets.RELEASE_PACKAGE_TOKEN
  .github/workflows/canary-release.yml
  .github/workflows/release.yml
Labels: none

Token again
  .github/workflows/canary-release.yml
  .github/workflows/release.yml
Labels: none

One more try
  .github/workflows/canary-release.yml
  .github/workflows/release.yml
Labels: none

And again
  .github/workflows/canary-release.yml
Labels: none

Clean up
  .github/workflows/canary-release.yml
  .github/workflows/release.yml
Labels: none

auth token
  .github/workflows/canary-release.yml
  .github/workflows/release.yml
Labels: none

Clean up
  .github/workflows/canary-release.yml
Labels: none

Just copy paste from the past
  jest.config.ts
  package-lock.json
  package.json
  packages/frontend-utils/package.json
  packages/react-utils/src/components/Reducer/index.test.tsx
  tests/package.json
  tests/setup/global.ts
  tests/setup/index.ts
  tests/stubs/staticFile.ts
  tests/stubs/styleMock.js
Labels: repo, react-utils, frontend-utils, tests

fix
  jest.config.ts
  tsconfig.json
Labels: repo

Simplify so far
  .github/workflows/testing.yml
Labels: none

.github/labeler.yml:

# Read more https://github.com/actions/labeler

# Add 'repo' label to any root file changes
repo:
  - "*"

github:
  - ".github/*"

documentation:
  - "**/*.md"
  - "**/*.mdx"

components:
  - "packages/react-utils/components/**"

hooks:
  - "packages/react-utils/hooks/**"

react-utils:
  - "packages/react-utils/**"

frontend-utils:
  - "packages/frontend-utils/**"

tests:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "test/**"

stories:
  - "**/*.stories.ts"
  - "**/*.stories.tsx"
  - ".storybook/**"
